<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<div>
    <h1>404</h1>
    <p>Page not found</p>
    {{#debug}}
        <div>
            <p>
                If you know a developer, tell them:
            </p>
            <p>
                {{debug.message}}
            </p>
        </div>
    {{/debug}}
</div>
</body>
</html>